/* resting all html tags to 0 */
*{
    padding:0;
    margin: 0;
}  

button{
    cursor: pointer;
}



.homePageAnchor{
    color: aliceblue;
    font-size: 30px;
}
.iphone-image{
    width: 50px;
    height: 25px;
    
}

.andriod-image{
    width: 50px;
    height: 25px;
}

.solitaire-logo{
    width: 60px;
    border-radius: 50%;
    margin: 5px;
}
.gameImg{
    width: 600px;
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 40%;
    align-items: center;
    background-image: linear-gradient(red,black);
}

.heroSection{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/hero-photo.jpg);
    background-repeat: no-repeat ;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: blur(3px);
    
}
.form-container {
    background: #ffffff;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
    position: absolute;
     top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.submit-btn{
  
    width: 100%;
    padding: 12px;
    background-color:green;
    border: none;
    border-radius: 8px;
    color:white;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input-score {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 16px;
}


footer{
    margin-top: 5px;
    background-color: green;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}