/* resting all html tags to 0 */
*{
    padding:0;
    margin: 0;
}  

button{
    cursor: pointer;
}



.homePageAnchor{
    color: aliceblue;
    font-size: 30px;
}
.iphone-image{
    width: 50px;
    height: 25px;
    
}

.andriod-image{
    width: 50px;
    height: 25px;
}

.solitaire-logo{
    width: 60px;
    border-radius: 50%;
    margin: 5px;
}
.gameImg{
    width: 600px;
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 40%;
    align-items: center;
    background-image: linear-gradient(red,black);
}

.heroSection{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/hero-photo.jpg);
    background-repeat: no-repeat ;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: blur(3px);
    
}


.gameForm{
     color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.3);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  
}

.H1gameForm{
    color: white;
    margin:10px 0px;
}

.buttonsForm{
    display: flex;
    gap: 100px;
}


.andriodBtn{
    
    background-image: url(../assets/images/google_play_image-1.png);
    width: 100px;
    height: 50px;
    background-size: cover;
    background-position: center;
    
}

.iosBtn{
    background-image: url(../assets/images/app-store-logo.webp);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 50px;
}


.leader-board-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.h1-leadr-board{
   margin-bottom: 20px;
   margin-top: 20px;
}
.leader-board-table{

    height: 70%;
    width: 60%;
    border-collapse: collapse;  /*to merge all borders*/
    text-align: center;
    font-size: large;

}
th{
    background-color: rgba(210, 204, 204, 0.344);
}
td{
    border-bottom: 1px solid rgba(150, 150, 150, 0.696);
    margin: 20px;

}
.adding-score-btn{
    background-color: rgb(22, 123, 15);
    font-weight: bold;
    margin-top: 40px;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}