/* resting all html tags to 0 */
*{
    padding:0;
    margin: 0;
}  



.btn{
    width: 100px;
    height: 50px;
}
.homePageAnchor{
    color: aliceblue;
    font-size: 30px;
}
.iphone-image{
    width: 50px;
    height: 25px;
    
}

.andriod-image{
    width: 50px;
    height: 25px;
    /* object-fit:fill; */

}

.solitaire-logo{
    width: 60px;
    border-radius: 50%;
    margin: 5px;
}
.gameImg{
    width: 600px;
}
.navbar{
    display: flex;
    flex-direction: row;
    gap: 40%;
    align-items: center;
    background-image: linear-gradient(red,black);
}

.heroSection{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/hero-photo.jpg);
    background-repeat: no-repeat ;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: blur(3px);
    
}


.gameForm{
     color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.3);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  
}

.H1gameForm{
    color: white;
    margin:10px 0px;
}
