/* resting all html tags to 0 */
*{
    padding:0;
    margin: 0;
}  



.btn{
    width: 100px;
    height: 50px;
}
.homePageAnchor{
    color: aliceblue;
}
.iphone-image{
    width: 50px;
    height: 25px;
    
}

.andriod-image{
    width: 50px;
    height: 25px;
    /* object-fit:fill; */

}

.solitaire-logo{
    width: 70px;
    border-radius: 10%;
}
.gameImg{
    width: 400px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    /* background-image:  url("../assets/images/hero-photo.jpg") ; */
}

.heroSection{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/images/hero-photo.jpg);
    background-repeat: no-repeat ;
    background-size:cover;
    
}

.gameSection{
    width:fit-content;
    background-color: whitesmoke;
}